<div class="main-header">
  <div class="chat-group">
    hogehuga
  </div>
  <div class="chat-delete-btn">
    <a herf="#">チャットを終了する</a>
  </div>
</div>
<div class="chat-view">
  <div class="chat-message">
    <div class="chat-user-date">
      <div class="user-name">
        Tom
      </div>
      <div class="date">
        2021/4/15(木) 10:50
      </div>
    </div>
    <div class="message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>
  <div class="chat-message">
    <div class="chat-user-date">
      <div class="user-name">
        siom
      </div>
      <div class="date">
        2021/4/15(木) 10:50
      </div>
    </div>
    <div class="message">
      <div class="message-content">
        こんにちは
      </div>
    </div>
  </div>
</div>
<div class="chat-form">
  <div class="form-input">
    <input class="form-message" placeholder = "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type ="submit" value="送信">
</div>

<%#  label要素とは
フォームの中でフォームの項目名とフォームの入力要素(画像選択フォーム、プルダウン、チェックボックスなど)を関連づけるための要素です
label要素の役割の１つは、label要素がクリックされた時に、子要素もクリックされたことにしてくれることです。
この仕組みを使うことで、見えないはずのファイルの選択ボタンをクリックしたかのように動作させる事ができます。
 %>