<div class="side-bar-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="chat-name">
    <a herf="#">チャットを作成する</a>
  </div>
</div>
<div class="side-bar-main">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>

<%# 問題９
「rails routes」コマンドを実行し、どのようなリンク先を指定すれば、該当のアクションが動くのかを確認する。
ユーザー編集機能へのリンクはedeit_userが該当するのがわかるので、
link_toのパスを、ログインしているユーザーの編集をするため、
edit_user_path(current_user)と指定します。
current_user.nameはログインしているユーザー名です。
ユーザー名をクリックすると、usersコントローラーのeditアクションが実行され、編集ページに遷移できる。 %>